* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}


/* 主界面 */

html,
body {
    width: 100%;
    height: 100%;
    color: #333;
}

.wrapper {
    min-width: 1440px;
    height: 100%;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .nav {
    height: 55px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    border-color: #f0f0f0;
}

.wrapper .nav .logo {
    line-height: 55px;
    width: 45px;
    color: #ea6f5a;
    float: left;
    font-size: x-large;
    font-weight: bold;
    margin-left: 30px;
}

.wrapper .nav .btns {
    line-height: 55px;
    float: left;
    margin-left: 200px;
}

.wrapper .nav .btns a {
    color: #333;
    margin-left: 30px;
    font-size: large;
}

.wrapper .nav .search {
    margin-left: 100px;
    line-height: 55px;
    float: left;
}

.wrapper .nav .search .search-text {
    width: 300px;
    height: 28px;
    border: 1px solid #b6b6b6;
    /* border-radius: 10px; */
    outline: 0;
    float: left;
    margin-top: 15px;
    /* letter-spacing: 2px; */
    padding-left: 10px;
    color: #666;
}

.wrapper .nav .user {
    margin-left: 200px;
    float: left;
    padding: 0 2px;
    cursor: pointer;
    position: relative;
}

.wrapper .nav .user img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    float: left;
}

.wrapper .nav .user .dec {
    width: 0;
    height: 0;
    border: 7px solid;
    border-color: #666 transparent transparent transparent;
    float: left;
    margin-top: 28px;
    margin-left: 5px;
}

.wrapper .nav .user-nav>ul>li {
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: rgba(216, 214, 214, 0.918);
    border: 1px solid rgba(0, 0, 0, .15);
}

.wrapper .nav .user-nav>ul>li>a {
    color: #333;
    font-size: 14px;
}

.wrapper .nav .user-nav {
    width: 85px;
    height: 70px;
    position: absolute;
    right: -10px;
    margin-top: 42px;
    display: none;
}

.wrapper .nav .search .get {
    color: #333;
    width: 50px;
    height: 30px;
    line-height: 30px;
    display: block;
    float: left;
    background-color: #e7e7e7;
    margin-top: 15px;
    text-align: center;
}

.wrapper .nav .write {
    float: left;
    margin-left: 80px;
    width: 100px;
    height: 55px;
}

.wrapper .nav .write .write-link {
    display: block;
    color: #333;
    margin-top: 13px;
    height: 40px;
    line-height: 40px;
    background-color: #ea6f5a;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
}

.wrapper .contents {
    height: 160px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    /* background-color: #fff; */
    /* border-top: #999 1px solid;
    border-bottom: #999 1px solid; */
    ;
}

.wrapper .contents .contents-left {
    width: 600px;
}

.wrapper .contents .contents-left .content-left-left {
    width: 400px;
    float: left;
}

.wrapper .contents .contents-left .content-left-left .title {
    font-size: 18px;
    font-weight: 700;
    height: 52px;
}

.wrapper .contents .contents-left .content-left-left .title .title-a {
    color: #333;
    display: block;
    line-height: 52px;
}

.wrapper .contents .contents-left .content-left-left .content {
    font-size: 14px;
    height: 70px;
    margin-top: 0px;
    color: #999;
    text-overflow:ellipsis;
    overflow:hidden;
}

.wrapper .contents .contents-left .content-left-left .more {
    height: 20px;
    /* background-color: aqua; */
}

.wrapper .contents .contents-left .content-left-left .more .view {
    float: left;
    color: #ea6f5a;
    font-size: 12px;
    line-height: 20px;
}

.wrapper .contents .contents-left .content-left-left .more .author {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.wrapper .contents .contents-left .content-left-left .more .author .author-a {
    color: #999;
}

.wrapper .contents .contents-left .content-left-left .more .comment {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.wrapper .contents .contents-left .content-left-left .more .like {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.wrapper .contents .contents-left .content-left-right {
    float: left;
    width: 150px;
    height: 160px;
    margin-left: 30px;
}

.wrapper .contents .contents-left .content-left-right .content-left-right-img {
    width: 150px;
    /*height: 100px;*/
    /*margin-top: 15px;*/
}